<header>
	<i class="fa fa-bars fa-2x js-menu-trigger menu-button"></i>
	<%= link_to root_path, class: 'logo' do %>
	  <%= image_tag 'logo-white.png' %>
	<% end %>
	<nav>
		<ul>
			<li><a href="javascript:void(0)">Sign up</a></li>
			<li><a href="javascript:void(0)">Login</a></li>
			<li><button>Become an Influencer</button></li>
		</ul>
	</nav>	
	<div class="js-menu menu-content">
		<ul>
			<li><a href="javascript:void(0)">Sign up</a></li>
			<li><a href="javascript:void(0)">Login</a></li>
			<li><a href="javascript:void(0)">Become an Influencer</a></li>
		</ul>
	</div>
	<div class="js-menu-screen menu-fade-screen"></div>
</header>

<section class='landing'>
	<div class='overlay'>
		
	</div>
	<div class='tagline'>
		<h1>Who will you reach?</h1>
		<h4>Find social influencers to reach <strong>any</strong> audience</h4>
		<div class='search'>
			<p><i class='fa fa-search'></i><input type='text' placeholder='What type of influencer are you looking for?'></p>
		</div>	
	</div>
		
	<div class='brandlogos'>
		<div class='logo-wrapper'>
			<div class='logo bnb'></div>
			<div class='logo audi'></div>
			<div class='logo frank'></div>
			<div class='logo pepsi'></div>
			<div class='logo uni'></div>
		</div>
	</div>
</section>


<section class='categories'>
	<h1>Work with someone perfect for your brand</h1>
	<div class='cat-row'>
		<div class='cat-square nature'>
			<h1>Nature</h1>
			<div class='overlay'></div>
		</div>
		<div class='cat-square trendy'>
			<h1>Trendy</h1>
			<div class='overlay'></div>
		</div>
		<div class='cat-square nomad'>
			<h1>Nomad</h1>
			<div class='overlay'></div>
		</div>
	</div>
	<div class='cat-row'>
		<div class='cat-square lifestyle'>
			<h1>Lifestyle</h1>
			<div class='overlay'></div>
		</div>
		<div class='cat-square musician'>
			<h1>Musician</h1>
			<div class='overlay'></div>
		</div>
		<div class='cat-square fitness'>
			<h1>Fitness</h1>
			<div class='overlay'></div>
		</div>
	</div>
	<div class='cat-cta'>
		<button>View all</button>
	</div>
</section>


<section class='studies'>
	<div class='studies-wrapper'>
		<div class='copy'>
			<h1>Can't argue with results</h1>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
			<p>explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur!</p>
		</div>
		<div class='studies-cta'>
			<button>View case study</button>
		</div>
	</div>
</section>


<section class='collaborations'>
	<h1>Powerful collaborations created everyday</h1>
	<div class='collab-row'>
		<div class='section1'>
		</div>
		<div class='section2'>
			<div class='img'></div>
			<div class='img m-t'></div>
		</div>
	</div>
	<div class='collab-row'>
		<div class='section2'>
			<div class='img'></div>
			<div class='img m-t'></div>
		</div>
		<div class='section2'>
			<div class='img'></div>
			<div class='img m-t'></div>
		</div>
		<div class='section3'>
		</div>		
	</div>
	<div class='collab-cta'>
		<button>Collaborate now!</button>
	</div>
</section>

<section class='influencer'>
	<div class='influencer-wrapper'>
		<div class='copy'>
			<h1>Meet our Girl Max</h1>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
			<p>explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur!</p>			
		</div>
		<div class='influencer-cta'>
			<button>Find an Elite now</button>
		</div>
	</div>
</section>

<section class='testimonials'>
	<div class="scroller">
	  <div>
		<h1>"I love how simple it is to make things happen through Paid. Communication, search, payment - it's all easy to do and in one place."</h1>
		<p>ALI MURPHY, Director of Marketing at AIRBNB</p>	  	
	  </div>
	  <div>
	  	<h1>"I love how simple it is to make things happen through Paid. Communication, search, payment - it's all easy to do and in one place."</h1>
		<p>ALI MURPHY, Director of Marketing at pepsi</p>	
	  </div>
	  <div>
		<h1>"I love how simple it is to make things happen through Paid. Communication, search, payment - it's all easy to do and in one place."</h1>
		<p>ALI MURPHY, Director of Marketing at Frank & Oak</p>		  	
	  </div>
	</div>
	<ul>
		<li>
			<div class='animated linked airbnb'></div>
		</li>
		<li>
			<div class='animated pepsi'>pepsi</div>
		</li>
		<li>
			<div class='animated frank'></div>
		</li>
	</ul>
</section>

<section class='support'> 
	<h1>Award-Winning support</h1>
	<p>Hashtag Paid Support Rockstars are all about making your life easier. Help is free forever, and you'll always get a real, live human faster than you can say, "Wow that was crazy fast!"</p>
	<div class='support-cta'>
		<button>1-844-PAID-100</button>
		<button>hello@hashtagpaid.com</button>
	</div>
</section>

<section class='closing'>
	<h1>Join over 1,000 brands already using #paid</h1>
	<button>Start now for free!</button>
</section>

<section class='logos'>
</section>

<footer>

</footer>

<script type="text/javascript">

	$(document).ready(function() {
        $('.menu-button, .menu-fade-screen, .menu-close').on('click touchstart',function (e) {
		    $('.menu-content, .menu-fade-screen').toggleClass('is-visible');
		    e.preventDefault();
		});        
        $('.scroller').slick({
        	arrows: false
        });
        $('.testimonials li').each(function(i) {
        	$(this).on('click', function() {
        		$('.testimonials li').each(function(x) {
        			$(this).find('.animated').removeClass('linked').removeClass('pulse');
        		});
				$(".scroller").slick( "slickGoTo", i);
				$(this).find('.animated').addClass('linked').addClass('pulse');
        	});
        });
	});

	

</script>